:root{
	--mainColor:#020202;
	--secondaryColor:#262528;

	--borderColor:#929293;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(17, 16, 17, 0.8);
	--previewShadow:#020202;


	--buttonColor:#0f0f11;

}