
:root{
	--mainColor:#2e3440;
	--secondaryColor:#3b4252;

	--borderColor:#81a1c1;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:#4c566a;
	--previewShadow:#2e3440;


	--buttonColor:#4c566a;


}